* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body{
    display: flex;
    justify-content: top;
    flex-direction: column;
}

nav {
    display: flex;
    height: 4rem;
    position: sticky;
    align-items: center;
    justify-content: center;
}

#inicio{
    margin-left: 1rem;
}

#cursos{
    margin-right: 1rem;
}

nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 3rem;
    list-style-type: none;
    gap: 0.5rem;
}

#contenedor_cursos>h1{
    padding: 3rem;
    font-weight: bold;
}

nav>ul>li{
    padding: 0.7rem;
}

nav>ul>li>button{
    list-style: none;
    border: solid;
    border-radius: 0.5rem;
    padding: 1rem;
    background:none;
    font-weight: bold;
}

nav>ul>li>button:hover{
    color: #000000;
    border: solid;
    border-color: rgb(48, 101, 216);
}

nav>ul>li>a>img {
    width: 30px;
    height: 20px;
}

nav>ul>li>a{
   text-decoration: none;
   color: black;
}


.imagenes_corte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.5rem;
}

.inicioimagenes {
    width: 200px;
    height: 200px;
    margin-left: -2.8rem;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.inicioimagenes.hovered {
    clip-path: none;
    border-radius: 1rem;
    transform: scale(2 , 1.5);
    z-index: 1;
    border: solid;
    border-width: 2px;
}

.imagenes_corte:hover .inicioimagenes:not(.hovered) {
    opacity: 0.7;
    transform: none; 
}

.imagenes_corte:not(:hover) .inicioimagenes {
    transform: scale(1); 
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border: none;
}

#logo{
    width: 5rem;
    height: 3rem;
}

#li-logo{
    border: none;
}

#primera{
    margin-left: 2.8rem;
}

#descripcion-seccion1{
    margin-top: 3.5rem;
    z-index: 999;
    font-weight: bolder;
    font-family: fantasy;
}
#curos_img{
    width: 10em;
}

#ul_cursos_img{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
}

/* pantalla de carga inicio */

.wait-screen {
    display: none; 
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    opacity: 100%;
  }

  .wait-screen-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
  }

  .logo_pantalla_de_carga{
    width: 35rem;
    height: 20rem;
 }

 @keyframes cliper {
    30%{
        width: 35rem;
        height: 20rem;
    }
    100%{
        width: 5rem;
        height: 3rem;
    }
}

@keyframes moveup {
    30%{
        top: 50%;
        left: 50%;
    }
    100%{
        top: 5%;
        left: 50%;
    }
}
  /* pantalla de carga fin */

  /* hovers de los cursos inicio*/

                                            /* Administración */

    #cursos_img_admin{
        width:10em;
        height: 10em;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/Cursos_iconos/Administracion.png);
        background-position: center;
        background-size: cover;
        font-weight: bolder;
        font-family: fantasy;
        border: solid;
        border-radius: 100%;
    }

    #cursos_img_admin p{
        opacity: 0;
        transform: scale(0);
        transition: 0.8s;
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
    }

    #cursos_img_admin:hover{
        box-shadow: 0 0 0 200px rgba(252, 252, 252, 0.432) inset;
    }

    #cursos_img_admin:hover p{
        opacity: 1;
        transform: scale(1);
    }

                                                /* Deporte */

    #cursos_img_deporte{
        width:10em;
        height: 10em;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/Cursos_iconos/Deporte.png);
        background-position: center;
        background-size: cover;
        font-weight: bolder;
        font-family: fantasy;
        border: solid;
        border-radius: 100%;
    }

    #cursos_img_deporte p{
        opacity: 0;
        transform: scale(0);
        transition: 0.8s;
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
    }

    #cursos_img_deporte:hover{
        box-shadow: 0 0 0 200px rgba(252, 252, 252, 0.432) inset;
    }

    #cursos_img_deporte:hover p{
        opacity: 1;
        transform: scale(1);
    }

                                                /* Turismo */

    #cursos_img_tur{
        width:10em;
        height: 10em;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/Cursos_iconos/Turismo.png);
        background-position: center;
        background-size: cover;
        font-weight: bolder;
        font-family: fantasy;
        border: solid;
        border-radius: 100%;
    }

    #cursos_img_tur p{
        opacity: 0;
        transform: scale(0);
        transition: 0.8s;
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
    }

    #cursos_img_tur:hover{
        box-shadow: 0 0 0 200px rgba(252, 252, 252, 0.432) inset;
    }

    #cursos_img_tur:hover p{
        opacity: 1;
        transform: scale(1);
    }

                                                /* Informática */

    #cursos_img_info{
        width:10em;
        height: 10em;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/Cursos_iconos/Informatica.png);
        background-position: center;
        background-size: cover;
        font-weight: bolder;
        font-family: fantasy;
        border: solid;
        border-radius: 100%;
    }

    #cursos_img_info p{
        opacity: 0;
        transform: scale(0);
        transition: 0.8s;
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
    }

    #cursos_img_info:hover{
        box-shadow: 0 0 0 200px rgba(252, 252, 252, 0.432) inset;
    }

    #cursos_img_info:hover p{
        opacity: 1;
        transform: scale(1);
    }

  /* hovers de los cursos fin*/

